<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
  </head>
  <body>
    <h1>Reset Your Password</h1>

    <p>Hi <%= firstName %>,</p>

    <p>Someone requested a password reset for your account. Click the link below to reset your password:</p>

    <p><a href="<%= resetPasswordUrl %>">Reset Password</a></p>

    <p>Or copy and paste this URL into your browser: <%= resetPasswordUrl %></p>

    <p>If you didn't request this password reset, you can ignore this email.</p>
  </body>
</html>
