<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
  </head>
  <body>
    <h1>Verify Your Email</h1>

    <p>Hi <%= firstName %>,</p>

    <p>Thanks for signing up! Please verify your email address by clicking the link below:</p>

    <p><a href="<%= verificationUrl %>">Verify Email</a></p>

    <p>Or copy and paste this URL into your browser: <%= verificationUrl %></p>

    <p>If you didn't create an account with us, you can safely ignore this email.</p>
  </body>
</html>
